# Higher Order Function

It is a function thst takes a function as a parameter and/or return a fucntion as its return value.

Example:
- sorted 
- map
- filter

# MAP


```map(func, *iterables)```
    
    
   - *iterables --> a variable number of iterable objects
   - func --> some function that takes as many arguments as there are iterable objects passed to iterables

In [1]:
l = [2, 3, 4]
def sq(x):
    return x**2

list(map(sq, l))

[4, 9, 16]

In [31]:
l1 = [1, 2, 3, -6]
l2 = [10, 20, 30, 14]

def add(x, y):
    return x + y

list(map(add, l1, l2))

[11, 22, 33, 8]

In [32]:
list(map(lambda x, y: x + y, l1, l2))

[11, 22, 33, 8]

# Filter
    filter(func, iterable)
  - iterable -> a single iterable
  - func -> some fnction that takes a single argument
  
`filter(func, iterable)` will return an iterator that contaiins all the elements of the iterable for which the function called on it is Thruthy.

In [4]:
l = [0, 1, 2, 3, 4]

In [5]:
list(filter(None, l))

[1, 2, 3, 4]

In [6]:
def is_even(n):
    return n% 2 ==0

In [7]:
list(filter(is_even, l))

[0, 2, 4]

In [8]:
list(filter(lambda n: n%2==0, l))

[0, 2, 4]

# ZIP

In [9]:
a = [11, 22, 33]
b = [1, 2, 3]
c = 'python'

zip(a,b,c)

In [10]:
list(zip(a, b, c))

[(11, 1, 'p'), (22, 2, 'y'), (33, 3, 't')]

In [33]:
for i in list(zip(a, b, c)):
    print(i)

(11, 1, 'p')
(22, 2, 'y')
(33, 3, 't')

# LIST COMPREHENSION

In [11]:
[x**2 for x in l]

[0, 1, 4, 9, 16]

In [12]:
[x + y for x, y in zip(a, b)]

[12, 24, 36]

In [13]:
[x for x in l if x % 2 == 0 ]

[0, 2, 4]

```
[<expression> for <varname> in <iterable> if <expression>]
```

In [14]:
def fact(n):
    return 1 if n < 2 else n * fact(n-1)

In [15]:
fact(5)

120

In [16]:
fact(26)

403291461126605635584000000

In [17]:
map(fact, [1, 2, 3, 4, 5])

In [18]:
list(map(fact, [1, 2, 3, 4, 5]))

[1, 2, 6, 24, 120]

In [19]:
# Map
l = [20, 56, 23]
result = list(map(lambda x, y: x+y, a, b))

In [20]:
result

[12, 24, 36]

In [21]:
results = map(lambda x, y, z: x+y+z, a, b, l)

In [22]:
results

In [23]:
[print(x) for x in results]

32
80
59

[None, None, None]

In [24]:
x = range(25)

In [25]:
x

range(0, 25)

In [26]:
[i for i in x]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [27]:
list(filter(lambda x: x%3==0, x))

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [28]:
list(filter(None, [1, 0, 5,12, 6, "", False, True]))

[1, 5, 12, 6, True]